node_modules
docs/.build
examples/demo/node_modules
examples/demovm
examples/demo/autoload
examples/demo/assets/compiled
autoload/compiled/shaker-meta.common.js
examples/demo/npm-debug.log
lib/tasks
.DS_Store
test/core/debug.txt
examples/npm-debug.log
test/rs/log.txt
npm-debug.log
