<!DOCTYPE HTML>
<html>
<head>
{{#meta}}
	<meta name="{{name}}" content="{{content}}">
{{/meta}}
{{^meta}}
	<meta name="creator" content="Yahoo! Shaker Mojito {{mojito_version}}">
{{/meta}}
{{{prefetch}}}
<script type="text/javascript">var MOJITO_INIT=new Date().getTime();</script>
{{#enableDynamicTitle}}
	<title>{{dynamicTitle}}</title>
{{/enableDynamicTitle}}
{{^enableDynamicTitle}}
	<title>{{title}}</title>
{{/enableDynamicTitle}}

{{{topShaker}}}
{{{top}}}
</head>
<body>
    
{{{child}}}

{{{bottomShaker}}}

{{{bottom}}}
{{{postfetch}}}
    
</body>
</html>
