<div id = "{{mojit_view_id}}">
<div id="leadstory">
    <div class="hd">
        <div class="hdbg">
            <h1>Silent buck</h1>
        </div>
    </div>

    <div class="bd">
        <div class="photo">
            <a href="#"><img src="/static/demo/assets/images/jaredsullinger410_324getty.jpg" width="410" height="285" alt="Jared Sullinger"></a>
        </div>

        <div class="text">
            <div class="credit">iPhone: Getty Images</div>

            <div class="content">
                <div class="story">
                    <p>Despite Jared Sullinger being saddled with foul trouble, Ohio State is in a tight battle with Syracuse.&nbsp;&nbsp;</p>
                    <ul class="inline">
                        <li class="">
                            <a href="#" class="">OSU 38, SYR 33 <small>(17:32 2nd)</small></a>
                        </li>
                    </ul>
                </div>
                <div class="secondary">
                    <ul class="inline">
                        <li class="">
                            <a id="call" href="#">Call another action!</a>
                        </li>
                        <li class="P">
                            <a data-action="{{data-action}}" data-params="{{data-params}}" href="#">Dynamically create more mojits</a>
                        </li>
                        <li class="P">
                            <a href="#">More stuff</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>