<div id = "{{mojit_view_id}}">
<div id="features">
    <div class="feature">
        <div class="photo">
            <img src="/static/demo/assets/images/dariusmiller60_324getty.jpg" width="60" height="85" alt="">
        </div>

        <div class="hd">
            <h4>Kentucky-Baylor, 2:20 ET</h4>
        </div>

        <div class="bd">
            <div class="story">
                <p>The Wildcats' Darius Miller is one of the nation's top sixth men.&nbsp;</p>
                <ul class="inline">
                    <li>
                        <a href="#">Senior's last dance</a>
                    </li>
                </ul>
            </div>
            <ul class="icon_list">
                <li>
                    <ul class="inline">
                        <li class="B">
                            <a href="#">Bears turn to Jackson</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="feature">
        <div class="photo">
            <img src="/static/demo/assets/images/tigertop_ap_1X.jpg" width="60" height="85" alt="">
        </div>

        <div class="hd">
            <h4>Palmer Invitational</h4>
        </div>

        <div class="bd">
            <div class="story">
                <p>Tiger Woods had to dig deep in Round 3 &ndash; but only a win matters.&nbsp;</p>
                <ul class="inline">
                    <li>
                        <a href="#">Can he close?</a>
                    </li>
                </ul>
            </div>
            <ul class="icon_list">
                <li>
                    <ul class="inline">
                        <li class="B">
                            <a href="#">Up by one</a></li><li class="P"><a href="#" class="live">Scores</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="feature">
        <div class="photo">
            <img src="/static/demo/assets/images/us-canada.jpg" width="60" height="85" alt="">
        </div>

        <div class="hd">
            <h4>Olympic qualifying</h4>
        </div>

        <div class="bd">
            <div class="story">
                <p>The U.S. men's soccer team is behind the eight ball after losing to Canada.&nbsp;</p>
                <ul class="inline">
                    <li>
                        <a href="#">Trouble</a>
                    </li>
                </ul>
            </div>
            <ul class="icon_list">
                <li>
                    <ul class="inline">
                        <li class="B">
                            <a href="#">2-0 stunner</a></li><li class="P"><a href="#">Slideshow</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="feature">
        <div class="photo">
            <img src="/static/demo/assets/images/kempfantasy_g_1X.jpg" width="60" height="85" alt="">
            <p class="provider">Getty Images</p>
        </div>

        <div class="hd">
            <h4>Fantasy Baseball '12</h4>
        </div>

        <div class="bd">
            <div class="story">
                <p>The Dodgers' Matt Kemp is no longer No. 1 on the latest Big Board.&nbsp;</p>
                <ul class="inline">
                    <li>
                        <a href="#">Who moved up?</a>
                    </li>
                </ul>
            </div>
            <ul class="icon_list">
                <li>
                    <ul class="inline">
                        <li class="B">
                            <a href="#">Sign up for a league</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
