<link rel="stylesheet" href="assets/css/custom.css">

{{>intro-shaker}}

<h2>Getting started</h2>

{{>what-is-selleck}}

{{>selleck-structure}}

{{>svn}}

{{>installing-selleck}}

{{>running-selleck}}

{{>code-fragment}}

{{>yui3-docs}}

{{>references}}
