<h2>Selleck installs easy</h2>
<p>
Install selleck is pretty easy if you know the right tools. Make sure you have npm and node.js v 0.4 or above.
</p>
```terminal
#installing selleck globally
npm -g selleck

#installing selleck locally
npm selleck
```
