<div class="intro">
<p>
	Shaker is a set of tools for creating and serving static asset rollups for Mojito applications.
	<img src="assets/images/shaker.jpg" alt="Screenshot of Shaker"
	 style="border: 1px solid #bfbfbf; float:right; max-height:161px; margin: 0 0 8px 8px;">
</p> 
<p>Shaker is tightly integrated with Mojito and the Cocktails platform.</p>
<p>Shaker is tightly integrated with Mojito and the Cocktails platform.</p>
<p>Shaker is tightly integrated with Mojito and the Cocktails platform.</p>
<p>Shaker is tightly integrated with Mojito and the Cocktails platform.</p>
<p>Shaker is tightly integrated with Mojito and the Cocktails platform.</p>

</div>

