<h2>References</h2>
<ul>
    <li>For more specific details please go to <a href="http://rgrove.github.com/selleck/">Selleck</a> website.</li>
    <li>It is an open source project. So if you got a good idea, <a href="https://github.com/rgrove/selleck">constribute</a> it.</li>
    <li>The sources of this presentation may be found into <a href="http://svn.corp.yahoo.com/view/users/dmorilha/selleck">this</a> repository.</li>
</ul>
