<h2>Selleck runs easy</h2>
<p>
Is documentation done and you want to have a quick look?
</p>

<p>
<b>E-A-S-Y P-E-A-S-Y</b>
</p>

```terminal
#running selleck as a daemon
[ -x "node_modules/.bin/selleck" ] && node_modules/.bin/selleck . -s || \
    [ -x $(which selleck) ] && $(which selleck) . -s || \
    echo "You need to install Selleck first\!"
```

<p>
You <b>can keep changing</b> your files and hitting refresh on your prefered browser without restarting selleck.
</p>
