<h2>Selleck project's structure</h2>
<ul>
    <li>All doc related files within docs directory.</li>
    <li>One project.json file.</li>
    <li>One index.mustache file.</li>
    <li>As many component.json files as you want spread though your source tree.</li>
    <li>An assets directory to serve static content.</li>
    <li>A partials directory to split the content.</li>
    <li>A layout directory for layout pieces.</li>
    <li>Everything fresh into the repository.</li>
</ul>
