<h2>What is Selleck?</h2>
<p>
Selleck is:
</p>
<ul>
    <li>A mix of technologies (html, mustache, javascript, nodejs).</li>
    <li>A replacement for Yahoo's twiki.</li>
</ul>
<p>
...and what it is not:
</p>
<ul>
    <li>API's documentation. Keep using yuidoc.</li>
    <li>A hosting solution for documentation.</li>
</ul>

<h2>What Selleck is good for</h2>
<p>
Selleck is good for:
</p>
<ul>
    <li>Keep documentation in sync with source files.</li>
    <li>Write all documentation using the same skills you use for coding.</li>
    <li>Write requirements, ideas, code examples...</li>
</ul>
