<h2>yui3 docs</h2>
<ul>
    <li>single project.json located at src/common/docs/ directory.</li>
    <li>each component has a docs sub directory.</li>
    <li>each component has its own assets.</li>
    <li>each component has its own component.json and index.mustache.</li>
</ul>
