.parent {
    width: 410px;
}

.parent.mojit {
    border-color: #BB1133;
}

.log {
    border: 2px solid;
    padding: 10px;
}

#logo {
    background-image: url(/static/Parent/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 96px;
    height: 23px;
}
